<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Frontend Tutorial</title>
</head>
<body>   
        <h1>AWS Frontend Tutorial</h1>
        <p>An example index.ejs for the aws_frontend project.</p>
        <p><%= data %></p>
</body>
<style>
    body { font-family: Arial, sans-serif; margin: 40px; color: #222 }
    header { margin-bottom: 24px }
    main { max-width: 800px }
    .center { text-align: center }
    code { background:#bb4848; padding:2px 6px; border-radius:4px }
</style>
</html>